#root {
  height: 100vh;
  margin: 0;
  text-align: center;
  background-color: var(--color-beige-100);
}

input {
  background: none;
  border: 1px solid var(--color-beige-500, #98908B);
  border-radius: 8px;
}